* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Every page*/

#Navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 250%;
  opacity: 0.6;
  background-color: white;
  z-index: 3;
}
.Nav {
  text-decoration: none;
  color: black;
}

#co {
  position: relative;
}
#pages {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: rgb(95, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(95, 58, 180, 1) 4%,
    rgba(89, 167, 44, 1) 24%,
    rgba(43, 209, 166, 1) 47%,
    rgba(181, 113, 184, 1) 67%,
    rgba(252, 69, 69, 1) 100%
  );
  animation: gradientBG 12s ease infinite;
  background-size: 400% 400%;
}
button,
input[type="button"],
input[type="submit"] {
  background-color: rgb(172, 40, 22);
}
input {
  background-color: rgb(206, 235, 183);
}
.tokenCard {
  box-shadow: 0 8px 16px rgb(7, 3, 4);
  padding: 10px;
  border-width: 5px;
  font-family: Trebuchet;
  font-size: 110%;
}
.imageId {
  height: 25vh;
  border: solid;
  border-width: 1px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input[type="file"] {
  margin: 0 auto;
}

#formInputs::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.4;
  z-index: +3;
  background-color: black;
}
/* Homepage overall  */
/*#image {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#HomeId {
  color: black;
  position: relative;
  z-index: 0;
}

/*#homeInfos {
  font-size: calc(1vw + 1vh + 0.5vmin);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 25vh);
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
}
/*Inside Homepage*/
/*#titles {
  position: relative;
  margin-top: 0;
  padding-top: 25vh;
  padding-left: 15vw;
  z-index: 2;
}
#title {
  color: rgb(172, 40, 22);
  z-index: 2;
}
#bigTitle {
  font-size: 500%;
}

/*Every page end*/
#footer {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 210%;
  background-color: rgb(161, 180, 169);
  opacity: 0.5;
}
